<% if @order_items.size > 0 %>
	<% @order_items.each do |order_item| %>
		<div class="well well-lg">
			<div class="row">
				<div class="col-sm-8">
					<div class="item-title"><%= order_item.item.item_name %></div>
					<div class="item-body">
						<%= order_item.item.description %>
						<p><%= order_item.item.category.name %></p>
					</div>

				</div>
				<div class="col-sm-4">
					<div class="pull-right">
						<%= form_for(order_item, remote: true) do |f| %>
							<%= f.hidden_field :item_id, value: order_item.item.id %>
							<h5><%= order_item.item.price %></h5>
							<div class="form-group">
								<%= f.text_field :quantity, value: order_item.quantity.to_i, min: 1, class: 'form-control' %>
							</div>
							<div class="btn-group">
								<p><%= f.submit 'Update Quantity',remote: true, class: 'btn btn-primary btn-sm' %></p>
								<p><%= link_to 'Delete', order_item, method: :delete, remote: true, class: 'btn btn-danger btn-sm' %></p>
								<span>Total Price: <%= order_item.total_price %></span>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
	<div class="well well-lg">
			<div class="row">
				<div class="col-sm-2 col-sm-offset-10">
					<p>Total Order Amount: <%= "#{current_order.total_order_amount}"%> </p>
					<p><%= link_to 'Clear Cart', order_path(current_order), method: :delete, data:{confirm: "Are you sure you want to clear the cart?"}, class: 'btn btn-success btn-sm' %></p>
					<p><%= link_to 'Update Order', checkout_path, class: 'btn btn-success btn-sm' %></p>
				</div>
			</div>
		</div>
<% end %>